h5 {
    display: inline;
}

.card-text {
    margin: 1em;
}

.btn-close {
    float: right;
}

section {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alerts-div {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: -1px 1px 10px #9292a363;
    border-radius: 20px;
}

.card {
    width: 90vw;

    box-shadow: -1px 1px 10px #9292a363;
}

.card-footer {
    color: white;
    background: linear-gradient(43deg, rgba(70, 139, 255, 1) 36%, rgba(120, 104, 230, 1) 94%);

}

#empty {
    position: absolute;
    margin-top: 4em;
    z-index: -100;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #7e7e7e;
    visibility: hidden;
}

.no-msg {
    margin-top: 1em;
}


@media screen and (min-width: 575px) {
    .card {
        width: 600px;
        margin: 2em auto;
    }
    
}