@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #EDEEF7;
}

.btn-primary {
    background-color: #7868E6;
    border: 1px solid #7868E6;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #2B193D;
    border: 1px solid #2B193D;
}

.top-nav {
    background-color: #7868E6;
}

.navbar-toggler {
    box-shadow: none !important;
}

button {
    border: none;
    box-shadow: -3px 3px 10px #8d8d9c8c;
    background-color: #E4FBFF;
}

button:active {
    background-color: #7EA09C;
    box-shadow: none;
}

.btn-outline-dark {
    border-radius: 40px;
    color: #7868E6;
    border: 1px solid #7868E6;
    box-shadow: none;
}

.btn-outline-dark:hover {
    background-color: #7868E6;
    border: 1px solid #7868E6;
}

.head-container {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


svg {
    margin-bottom: 5px;
}

.fixed-bottom {
    height: 5em;
    background-color: #B8B5FF;
    box-shadow: -1px -2px 4px #8181816c;
}

.container-fluid {
    height: 100%
}

.nav-button {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    padding-top: 5px;
}

.nav-button p {
    font-size: 11.5px;
    color: #2B193D;
}

.nav-button:hover {
    background-color: #9895e2;
    cursor: pointer;
}

/*      forms     */
 
input, 
select,
textarea {
    width: 90%;
    height: 25%;
    border: 2px solid #B8B5FF;
    border-radius: 10px;
}

input:focus, 
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid #7868E6;
    border-radius: 10px;
}

/* Modals */
.modal-content {
    border-radius: 10px;
    width: 80%;
    height: 70%;
    background-color: #EDEEF7;
    text-align: center;
    padding: 1em 2em 1em 2em;
}