/*  Background  */

body {
    overflow-y: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#bg-modifier {
    background-color: #edeef7;
    z-index: -49;
}

#bar-block {
    background: rgb(184, 181, 255);
    background: linear-gradient(342deg, rgba(184, 181, 255, 1) 40%, rgba(168, 240, 255, 1) 100%);
    z-index: -50;
}



/*  Heading  */

.btn-outline-dark {
    width: 10em;
}

h3 {
    font-size: medium;
    margin-bottom: 1em;
    margin-top: 1em;
}



/*  Counter  */

.counter-container {
    padding: 0.5em;
    display: flex;
    margin: 1em auto 1em auto;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.count-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
    margin: 0.5em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;

    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#add-button {
    right: 8%;
    background-image: url(../images/icons/plus.svg);
}

#subtract-button {
    left: 8%;
    background-image: url(../images/icons/minus.svg);
}

#current-count {
    font-size: 5em;
}

#max-number {
    font-size: 3em;
}

#message-button {
    width: 4em;
    height: 4em;
    border: none;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
}

#message-icon {
    fill: none;
}

/* Modal */

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

select {
    width: 90%;
}


.send-button {
    background-color: #B8B5FF;
    border: none;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: 25px;
    width: 100px;
    height: 100px;
    height: 4em;
    width: 4em;
    margin: 2em;
}

.send-button:hover {
    background-color: #9895e2;
}

#send-icon {
    width: 50px;
    height: 50px;
}

.close {
    display: block;
    float: right;
    cursor: pointer;
    box-shadow: none;
}

.btn-close {
    box-shadow: none;
}

textarea {
    height: 15vh;
}

/* Toast */

.toast {
    position: relative;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #2B193D;
    color: white;
}

#endshiftModal {
    margin-left: 2.5em;
}

#messageModal {
    margin-left: 3.5em;
}