/*  Background  */

body {
    overflow-y: hidden;
    position: relative;
}

.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#bg-modifier {
    background-color: #edeef7;
    z-index: -49;
}

#bar-block {
    background-color: #b8b5ff7a;
    z-index: -50;
}



/*  Heading  */

.head-container {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h3 {
    font-size: medium;
    margin-bottom: 1em;
    margin-top: 1em;
}



/*  Counter  */

.counter-container {
    padding: 0.5em;
    display: flex;
    margin: 1em auto 1em auto;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.count-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
    margin: 0.5em;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

#add-button {
    right: 8%;
    background-image: url(../images/icons/plus.svg);
}

#subtract-button {
    left: 8%;
    background-image: url(../images/icons/minus.svg);
}

#current-count {
    font-size: 5em;
}

#max-number {
    font-size: 3em;
}

#message-button {
    width: 4em;
    height: 4em;
    border: none;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
}

#message-icon {
    fill: none;
}

/* Modal */

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bg-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-content {
    border-radius: 10px;
    width: 80%;
    height: 70%;
    background-color: #EDEEF7;
    text-align: center;
    padding: 1em 2em 1em 2em;
}

select {
    width: 90%;
}


.send-button {
    background-color: #B8B5FF;
    border: none;
    border-radius: 50%;
    padding-top: 10px;
    padding-right: 25px;
    width: 100px;
    height: 100px;
    height: 4em;
    width: 4em;
    margin: 2em;
}

#send-icon {
    width: 50px;
    height: 50px;
}

.close {
    display: block;
    float: right;
    cursor: pointer;
}
