html {
    overflow-y: auto;
}

body {
    background-color: #edeef7;
}

p {
    margin: 1em;
}

img {
    margin: 2em;
}

.display-6 {
    text-align: center;
}

section {
    margin: 5em 2em;
}

.hero-image {
    height: 70vh;
    background-image: linear-gradient(rgba(93, 47, 139, 0.5), rgba(255, 255, 255, 0.24)), url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.display-1 {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.btn {
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    background-color: #B8B5FF;
    border-radius: 30px;
    border: none;
    box-shadow: none;
    color: #2B193D;
    margin-top: 1em;
}

.btn:hover {
    background-color: #9895e2;
    background: linear-gradient(342deg, rgba(184, 181, 255, 1) 40%, rgba(168, 240, 255, 1) 100%);
}

/* Containters */

.container {
    margin-top: 10em
}

/* Features */

.feature-img {
    width: 50vw;
    height: auto;
}

.feature-container {
    padding: 1em;
    display: flex;
    margin: 1em auto;
    flex-direction: column;
    align-content: center;
    border-radius: 40px;
    box-shadow: -1px 1px 10px #b4b3c5e3;
}

.feature-container:hover {
    background-color: #9895e2;
    background: linear-gradient(342deg, rgba(184, 181, 255, 1) 40%, rgba(168, 240, 255, 1) 100%);
}

@media screen and (min-width: 575px) {

    .feature-img {
        width: 15em;
        height: auto;
    }

    .feature-container {
        width: 30em;
        height: 30em;
        margin: 2em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #7868E6;
        border-radius: 40px
    }

    div.feature-container {

        justify-content: flex-start;

    }

    div.center {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

/* Footer */
footer {
    width: 100vw;
    height: 40vh;
    background-color: #7868E6;

}