
.filter-button {
    color: lightseagreen;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 10px;    
}

.filter-button:hover {
    background-color: lavender;
}

.filter-button-container {
    display: flex;
    flex: row;
    padding: 5px;
}

.filter-button-container > div {
    margin: 10px;
    text-align: center;
    align-items: center;
}

.promo-card {
    width: 350px;
    height: 150px;
    background-color: rgb(209, 209, 209);
    margin: 30px;
}

.promo-info {
    float: left;
}

.iconify {
    width: 50px;
    height: 50px;
    float: right;
    margin: 60px
    /* margin-top: 60px;
    margin-right: 60px; */
}
