h3 {
    display: inline;
    margin: 0px;
    float:left;
    font-size: 25px;
}

h5 {
    display: inline;
    margin: 0px;
    float:left;
    clear:left;
    font-size: 25px;
}

.arrow_button {
    margin: 0px;
    margin-left: 40px;
    background: #e4fbff;
    border: None;
    display: inline;
    width: 60px;
    float: right;
    box-shadow: none;
    border-radius: 50%;
}

button:active {
    background: #b8b5ff;
    box-shadow: none;
}

div {
    display: inline-block;
}

.card {
    background-color: #edeef7;
    height: 103px;
}

.person_logo {
    display: inline;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

h2 {
    display: inline;
    font-size: 40px;
    float: right;
    margin-top: 10px;
}

#card_section{
    width: 100%;
}

/* modal */

#form-submit-button {
    background-color: white;
    border: none;
    float: right;
}

.modal {
    left: 0px;
    right: auto;
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #edeef7;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
    overflow: auto;
  }
  
  #text_for_modal {
      text-align: center;
      font-size: 24px;
  }

  #form-submit-button {
    border: none;
    margin: auto;
    border-radius: 50%;
    padding-top: 10px;
    width: 40px;
    height: 30px;
    padding-bottom:35px;
    background-color: #b8b5ff;
    margin-top:30px;
    margin-right:15px;
  }

  #form-submit-button:hover {
      background-color: #7868e6;
  }

  .form-content {
      border-radius: 5px;
      margin: auto 20px;
  }

  /* The Close Button */
  .close {
    color: #7868e6;
    float: left;
    font-size: 28px;
    font-weight: bold;
    width:25px;
    margin:10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modal_person_add{
      float:right;
      display:inline;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin:10px;
  }

  #modal_person_subtract{
    float:left;
    display:inline;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin:10px;
  }

  #modal_number_symbols{
      text-align: center;
      display:inline;
  }

  #number_of_staff{
      display:inline;
      font-size:50px;
  }

  #notes{
      font-size:24px;
      float:left;
      margin-left:10px;
      display:inline;
  }

  #add_button {
    margin-right:10px;
    float:right;
    width: 40px;
    height: 40px;
    background:none;
    box-shadow:none;
}

#message {
    margin: 10px;
}

#image_for_confirm_button{
    width:30px;
}

#new_form_div{
    width: 100%;
}

.new_message{
    clear:left;
    float: left;
    margin:0px;
    font-size: 20px;
    margin-left:10px;
}

#modal_save{
    width: 100px;
    margin:auto;
    margin-bottom: 10px;
}

#form-submit-button{
    margin: 0px;
    margin-right:10px;
}

#last_weeks_numbers{
    font-size:18px;
    float:left;
    margin-left:10px;
    display:inline;
}

#last_week{
    font-size:18px;
    float:left;
    margin-left:10px;
    display:inline;
}

button:active {
    background-color: #7EA09C;
    box-shadow: none;
}